body {
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, label {
    display: block;
}

input {
    line-height: 2rem;
    width: 20vw;
    border: 1px solid silver;
    border-radius: 5px;
    text-indent: 1rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

label {
    letter-spacing: 2px;
}

input:focus {
    outline: none;
    box-shadow: 2px 2px 10px grey;
}

.form-top > div:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    height: 50px;
    width: 250px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6a8383;
}

button:hover {
    box-shadow: 2px 2px 10px grey;
}

.submit {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.submit a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.submit a:hover {
    text-shadow: 2px 2px 10px grey;
}

.section-left {
    flex: 1;
    position: relative;
}

.section-right {
    flex: 2;
    background-color: #9abebe;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro, .form-top, .submit {
    padding-left: 5vw;
    padding-right: 20vw;
}

.intro {
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3vh;
}

form {
    flex: 2;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.form-top {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: rgb(255, 255, 255, 0.25);
    padding-top: 10px;
}

.form-field {
    display: flex;
    gap: 3rem;
}

#img-banner {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

#img-banner div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "norse-bold";
    font-size: 3rem;
}

#img-credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    font-family: "norse-bold";
}

#img-credit a {
    color: white;
}

/* Image */
#img-main {
    width: 100%;
    height: 100%;
}

#odin-logo {
    height: 75px;
}

/* Font */
@font-face {
    font-family: "norse-bold";
    src: url(Norse-Bold.otf);
}

/* Validation */
input + span {
    position: relative;
}

input:valid {
    border-color: black;
}

input:valid + span::before {
    position: absolute;
    top: -1.85rem;
    left: calc(20vw + 1rem);
    content: "✓";
    color: green;
}

input:invalid + span::before {
    position: absolute;
    top: -1.85rem;
    left: calc(20vw + 1rem);
    content: "✖";
    color: red;
}

input[type="password"]:invalid {
    border-color: rgb(192, 0, 0);
}
